In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
import seaborn as sns
from sqlalchemy import create_engine

# Extract CSVs into DataFrames

In [12]:
# read csv file Oceania 
oceania_csv = "static/Data/oceania.csv"

In [13]:
# Create dataframe
oceania_df = pd.read_csv(oceania_csv)
oceania_df.head()

,Date,Apple,Samsung,Huawei,Oppo,Google,Xiaomi,Unknown,Nokia,Motorola,...,Alcatel,HTC,Asus,Vodafone,ZTE,Honor,BBK,Tecno,Infinix,Other
0,2021-05,52.73,25.01,9.55,4.27,1.56,1.73,1.22,0.64,0.54,...,0.08,0.12,0.09,0.06,0.07,0.05,0.03,0.01,0.01,0.11
1,2021-06,53.22,24.79,9.31,4.25,1.55,1.72,1.32,0.63,0.55,...,0.07,0.11,0.09,0.06,0.06,0.04,0.03,0.01,0.01,0.11
2,2021-07,53.67,24.67,9.29,4.15,1.48,1.66,1.33,0.59,0.55,...,0.06,0.10,0.08,0.05,0.05,0.04,0.03,0.01,0.01,0.10
3,2021-08,52.27,26.80,8.90,4.17,1.42,1.67,1.02,0.59,0.55,...,0.06,0.10,0.08,0.05,0.05,0.04,0.02,0.02,0.01,0.10
4,2021-09,52.78,27.02,8.15,4.13,1.45,1.69,1.04,0.61,0.56,...,0.06,0.10,0.07,0.05,0.06,0.03,0.02,0.01,0.01,0.09

In [14]:
# Performing a .count to make sure that the data is complete
print(oceania_df.count())

Date        13
Apple       13
Samsung     13
Huawei      13
Oppo        13
Google      13
Xiaomi      13
Unknown     13
Nokia       13
Motorola    13
OnePlus     13
Lenovo      13
Vivo        13
Realme      13
LG          13
Sony        13
Alcatel     13
HTC         13
Asus        13
Vodafone    13
ZTE         13
Honor       13
BBK         13
Tecno       13
Infinix     13
Other       13
dtype: int64

In [15]:
# read csv file South America
southamerica_csv = "static/Data/south america.csv"

In [16]:
# Create dataframe
southamerica_df = pd.read_csv(southamerica_csv)
southamerica_df.head()

,Date,Samsung,Motorola,Xiaomi,Apple,Huawei,LG,Unknown,Asus,Nokia,...,Oppo,Mixc,OnePlus,Google,Infinix,Blu,Honor,HTC,Meizu,Other
0,2021-05,45.41,16.98,9.51,10.70,8.37,4.59,0.98,0.74,0.50,...,0.03,0.0,0.09,0.05,0.02,0.06,0.04,0.03,0.01,0.16
1,2021-06,44.91,17.08,9.77,10.90,8.46,4.41,1.09,0.73,0.49,...,0.03,0.0,0.08,0.05,0.02,0.05,0.04,0.03,0.01,0.15
2,2021-07,44.86,17.40,9.99,11.28,7.58,4.44,1.10,0.77,0.48,...,0.03,0.0,0.08,0.05,0.02,0.05,0.03,0.02,0.01,0.14
3,2021-08,45.33,17.18,10.65,10.66,7.26,4.78,0.70,0.71,0.48,...,0.05,0.0,0.08,0.05,0.04,0.05,0.03,0.02,0.01,0.13
4,2021-09,45.04,17.13,11.09,10.72,7.23,4.55,0.75,0.66,0.49,...,0.07,0.0,0.08,0.05,0.05,0.04,0.03,0.02,0.01,0.13

In [17]:
# Performing a .count to make sure that the data is complete
print(southamerica_df.count())

Date        13
Samsung     13
Motorola    13
Xiaomi      13
Apple       13
Huawei      13
LG          13
Unknown     13
Asus        13
Nokia       13
ZTE         13
Alcatel     13
Lenovo      13
Realme      13
Tecno       13
Sony        13
Vivo        13
Oppo        13
Mixc        13
OnePlus     13
Google      13
Infinix     13
Blu         13
Honor       13
HTC         13
Meizu       13
Other       13
dtype: int64

In [ ]:
#Run this code to find the pairwise correlation of all columns in the dataframe
#This allows the creation of the heatmap below
corr_data=oceania_df.corr()
corr_data

In [ ]:
#Run this code to find the pairwise correlation of all columns in the dataframe
#This allows the creation of the heatmap below
corr_data=southamerica_df.corr()
corr_data

# Create graphs to show correlation between different variables in the Data Set

In [ ]:
#Shows correlation between all variables against each other
#need to install seaborn in order to plot heatmap
sns.heatmap(corr_data, annot=True,cmap="YlGnBu")
plt.gcf().set_size_inches(30, 30)
plt.savefig("static/Img/worldwideheatmap.png")
plt.show()

# Part 2: MongoDB

In [1]:
import pymongo

In [2]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
# Declare the database for Africa
db = client.phonebrand

In [4]:
#Insert the scraped_data in the database
oceania_dict = oceania_df.to_dict("records")

NameError: name 'oceania_df' is not defined

In [5]:
#Insert data
db.oceania.insert_many(oceania_dict)

NameError: name 'oceania_dict' is not defined

In [6]:
#Insert the scraped_data in the database
southamerica_dict = southamerica_df.to_dict("records")

NameError: name 'southamerica_df' is not defined

In [7]:
#Insert data
db.southamerica.insert_many(southamerica_dict)

NameError: name 'southamerica_dict' is not defined